@import "tailwindcss";

@theme {
    --color-ocean-950: #001219;
    --color-ocean-800: #005F73;
    --color-ocean-600: #0A9396;
    --color-ocean-400: #94D2BD;
    --color-ocean-200: #E9D8A6;

    --color-sunset-400: #EE9B00;
    --color-sunset-500: #CA6702;
    --color-sunset-600: #BB3E03;
    --color-sunset-700: #AE2012;
    --color-sunset-900: #9B2226;

    --color-burgundy: #562b35;
    --color-orange: #ff9810;
    --color-teal: #24a7a1;
    --color-peach: #fd975c;
    --color-black: #000000;
}

@layer base {
    html {
        @apply bg-teal;
    }

    body {
        @apply min-h-screen antialiased;
    }

    h1 {
        @apply text-4xl font-bold tracking-tight;
    }

    h2 {
        @apply text-3xl font-bold tracking-tight;
    }

    h3 {
        @apply text-2xl font-semibold tracking-tight;
    }

    a {
        @apply transition-colors;
    }

    button {
        @apply hover:cursor-pointer; 
    }
}
