@import "tailwindcss";

@theme {
    --color-ocean-950: #001219;
    --color-ocean-800: #005f73;
    --color-ocean-600: #0a9396;
    --color-ocean-400: #94d2bd;
    --color-ocean-200: #e9d8a6;

    --color-sunset-400: #ee9b00;
    --color-sunset-500: #ca6702;
    --color-sunset-600: #bb3e03;
    --color-sunset-700: #ae2012;
    --color-sunset-900: #9b2226;

    --color-burgundy: #562b35;
    --color-orange: #ff9810;
    --color-teal: #24a7a1;
    --color-peach: #fd975c;
    --color-black: #000000;
}

@layer base {
    html {
        @apply bg-teal;
    }

    body {
        @apply min-h-screen antialiased;
    }

    h1 {
        @apply text-4xl font-bold tracking-tight;
    }

    h2 {
        @apply text-3xl font-bold tracking-tight;
    }

    h3 {
        @apply text-2xl font-semibold tracking-tight;
    }

    a {
        @apply transition-colors;
    }

    button {
        @apply hover:cursor-pointer;
    }
}
